.container {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  width: 300px;
  background: inherit;
}

.buttonWrapper {
  display: flex;
  align-items: flex-end;
  z-index: 2;
  background: inherit;
}

.button {
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
  font-size: 20px;
  font-weight: bold;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-bottom: 5px;
}

.dateListScrollable {
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  scrollbar-width: none;
  margin: 0px;
  -webkit-overflow-scrolling: touch;
}

.dateListScrollable::-webkit-scrollbar {
  -webkit-appearance: none;
  display: none;
}

.monthContainer {
  display: flex;
  flex-direction: column;
}

.monthYearLabel {
  align-self: center;
  z-index: 3;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
  top: 0;
  left: 0;
}

.dateDayItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 80px;
  height: 45px;
  border-radius: 10px;
}

.daysContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: gray;
  z-index: 1;
}

.dayLabel {
  font-size: 15px;
}

.dateLabel {
  font-size: 20px;
  margin-left: 10px;
}
